<a href="https://colab.research.google.com/github/no-way02/WIDS-SENTIMENT-ANALYSIS/blob/main/WEEK_2_TWITTER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#WEEK 2

##Data Preprocessing

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from statsmodels.graphics.gofplots import qqplot
import seaborn as sns

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from sklearn.feature_extraction.text import CountVectorizer
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from keras.utils.np_utils import to_categorical
import re

In [ ]:

from sklearn.feature_extraction.text import CountVectorizer
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM
from sklearn.model_selection import train_test_split
from keras.utils.np_utils import to_categorical
import re

In [ ]:
# Importing required libraries
import nltk
import pandas as pd
from nltk.corpus import stopwords
from textblob import Word
from sklearn.preprocessing import LabelEncoder
from collections import Counter
import wordcloud
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from keras.models import Sequential
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split 
import matplotlib.pyplot as plt

In [ ]:
#reading file from drive
df = pd.read_csv('/content/drive/MyDrive/btech/ML_DS/SentimentAnalysisDataset2.csv', error_bad_lines=False)

b'Skipping line 8836: expected 4 fields, saw 5\n'
b'Skipping line 535882: expected 4 fields, saw 7\n'

In [ ]:
#top 5 rows
df.head()

   ItemID  ...                                      SentimentText
0       1  ...                       is so sad for my APL frie...
1       2  ...                     I missed the New Moon trail...
2       3  ...                            omg its already 7:30 :O
3       4  ...            .. Omgaga. Im sooo  im gunna CRy. I'...
4       5  ...           i think mi bf is cheating on me!!!   ...

[5 rows x 4 columns]

In [ ]:
#NUll values in each row
df.isnull().sum()

ItemID             0
Sentiment          0
SentimentSource    0
SentimentText      0
dtype: int64

In [ ]:
#droping columns SentimentSource and ItemID

df.drop(['SentimentSource','ItemID'],axis='columns', inplace=True)

df

         Sentiment                                      SentimentText
0                0                       is so sad for my APL frie...
1                0                     I missed the New Moon trail...
2                1                            omg its already 7:30 :O
3                0            .. Omgaga. Im sooo  im gunna CRy. I'...
4                0           i think mi bf is cheating on me!!!   ...
...            ...                                                ...
1578607          1               Zzzzzz.... Finally! Night tweeters!
1578608          1                        Zzzzzzz, sleep well people
1578609          0            ZzzZzZzzzZ... wait no I have homework.
1578610          0      ZzZzzzZZZZzzz meh, what am I doing up again?
1578611          0                       Zzzzzzzzzzzzzzzzzzz, I wish

[1578612 rows x 2 columns]

In [ ]:
#ezpanding the tezt
pd.set_option('display.max_colwidth', -1)

df.shape

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

(1578612, 2)

In [ ]:
df = df[:20000]
df.shape

(20000, 2)

In [ ]:
#punctuation library
import string 
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
#function to rempove punctuation
def remove_punctuation(tezt):
  punctuationfree="".join([i for i in tezt if i not in string.punctuation])
  return punctuationfree

In [ ]:
#column for clean tezt

df['clean_tweet'] = df['SentimentText'].apply(lambda z:remove_punctuation(z))
df.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Sentiment  ...                                                                                                               clean_tweet
0  0          ...                       is so sad for my APL friend
1  0          ...                     I missed the New Moon trailer
2  1          ...                omg its already 730 O
3  0          ...             Omgaga Im sooo  im gunna CRy Ive been at this dentist since 11 I was suposed 2 just get a crown put on 30mins
4  0          ...           i think mi bf is cheating on me       TT
5  0          ...           or i just worry too much
6  1          ...         Juuuuuuuuuuuuuuuuussssst Chillin
7  0          ...         Sunny Again        Work Tomorrow         TV Tonight
8  1          ...        handed in my uniform today  i miss you already
9  1          ...        hmmmm i wonder how she my number

[10 rows x 3 columns]

In [ ]:
#removing urls

def remove_urls(dataframe):
#replace URL of a text
    dataframe['clean_tweet'] = dataframe['clean_tweet'].str.replace('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', ' ')

remove_urls(df)

df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   Sentiment  ...                                                                                                               clean_tweet
0  0          ...                       is so sad for my APL friend
1  0          ...                     I missed the New Moon trailer
2  1          ...                omg its already 730 O
3  0          ...             Omgaga Im sooo  im gunna CRy Ive been at this dentist since 11 I was suposed 2 just get a crown put on 30mins
4  0          ...           i think mi bf is cheating on me       TT

[5 rows x 3 columns]

In [ ]:
#removing stop words using nltk library

import nltk
nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('english')
stopwords[0:10]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [ ]:
#function to remove stopwords
def remove_stopwords(tezt):
  output=' '.join([word for word in tezt.split() if word not in (stopwords)])
  return output

In [ ]:
df['clean_tweet'] = df['clean_tweet'].apply(lambda z:remove_stopwords(z))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
#performing lower casing
df['clean_tweet'] = df['clean_tweet'].apply(lambda z: z.lower())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df.head()

   Sentiment  ...                                                                        clean_tweet
0  0          ...  sad apl friend
1  0          ...  i missed new moon trailer
2  1          ...  omg already 730 o
3  0          ...  omgaga im sooo im gunna cry ive dentist since 11 i suposed 2 get crown put 30mins
4  0          ...  think mi bf cheating tt

[5 rows x 3 columns]

In [ ]:
from nltk.tokenize import word_tokenize

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
#function to perform tokenization

import re
def tokenization(text):
    tokens = re.split('\W+',text)
    return tokens

df['token_tweet'] = df['clean_tweet'].apply(lambda z: tokenization(z))

df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Sentiment  ...                                                                                          token_tweet
0  0          ...  [sad, apl, friend]
1  0          ...  [i, missed, new, moon, trailer]
2  1          ...  [omg, already, 730, o]
3  0          ...  [omgaga, im, sooo, im, gunna, cry, ive, dentist, since, 11, i, suposed, 2, get, crown, put, 30mins]
4  0          ...  [think, mi, bf, cheating, tt]

[5 rows x 4 columns]

In [ ]:
#importing the stemming function from nltk library

from nltk.stem.porter import PorterStemmer

porter_stemmer = PorterStemmer()

#definning function for stemming

def stemming(tezt):
  stem_tezt = [porter_stemmer.stem(word) for word in tezt]
  return stem_tezt

df['stem_tweet'] = df['token_tweet'].apply(lambda z:stemming(z))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
# importing the lemmetizing function from nltk

from nltk.stem import WordNetLemmatizer

wordnet_lemmatizer = WordNetLemmatizer()

#defining finction for lemmatization 

def lemmatizer(tezt):
  lemm_tezt = [wordnet_lemmatizer.lemmatize(word) for word in tezt]
  return lemm_tezt
  
df['lemm_tweet'] = df['token_tweet'].apply(lambda z:lemmatizer(z))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
df.head()

   Sentiment  ...                                                                                           lemm_tweet
0  0          ...  [sad, apl, friend]
1  0          ...  [i, missed, new, moon, trailer]
2  1          ...  [omg, already, 730, o]
3  0          ...  [omgaga, im, sooo, im, gunna, cry, ive, dentist, since, 11, i, suposed, 2, get, crown, put, 30mins]
4  0          ...  [think, mi, bf, cheating, tt]

[5 rows x 6 columns]

In [ ]:
df['l2s'] = df['lemm_tweet'].apply(lambda z:' '.join(map(str, z)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

##Classification Task

In [ ]:
df = df[:100000]
df.shape

(20000, 7)

In [ ]:
#Tokenization
max_fatures = 2000
tokenizer = Tokenizer(num_words=max_fatures, split=' ')
tokenizer.fit_on_texts(df['l2s'].values)
X = tokenizer.texts_to_sequences(df['l2s'].values)
X = pad_sequences(X)

In [ ]:
# # Building a Keras model
embed_dim = 50
lstm_out = 80
model = Sequential()
model.add(Embedding(max_fatures, embed_dim,input_length = X.shape[1]))
model.add(LSTM(lstm_out, recurrent_dropout=0.2, dropout=0.2))
model.add(Dense(2,activation='softmax'))
model.compile(loss = 'categorical_crossentropy', optimizer='adam',metrics = ['accuracy'])
print(model.summary())

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 31, 50)            100000

 lstm (LSTM)                 (None, 80)                41920

 dense (Dense)               (None, 2)                 162

=================================================================
Total params: 142,082
Trainable params: 142,082
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
#Splitting the data into training and testing
y=pd.get_dummies(df['Sentiment']).values
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 42)

In [ ]:
X_train.shape

(14000, 31)

In [ ]:
#Training model
batch_size=32
model.fit(X_train, y_train, epochs = 5, batch_size=batch_size, verbose = 'auto')

Epoch 1/5
438/438 [==============================] - 28s 57ms/step - loss: 0.5841 - accuracy: 0.6753
Epoch 2/5
438/438 [==============================] - 25s 56ms/step - loss: 0.4848 - accuracy: 0.7564
Epoch 3/5
438/438 [==============================] - 25s 56ms/step - loss: 0.4573 - accuracy: 0.7741
Epoch 4/5
438/438 [==============================] - 25s 56ms/step - loss: 0.4299 - accuracy: 0.7936
Epoch 5/5
438/438 [==============================] - 25s 56ms/step - loss: 0.4050 - accuracy: 0.8071

In [ ]:
#evaluating on test data
score,acc = model.evaluate(X_test, y_test, verbose = 2, batch_size = batch_size)
print("score: %.2f" % (score))
print("acc: %.2f" % (acc))

188/188 [==============================] - 2s 8ms/step - loss: 0.5856 - accuracy: 0.7270

[0.5856153964996338, 0.7269999980926514]

In [ ]:
validation_size = 1500

X_validate = X_test[-validation_size:]
y_validate = y_test[-validation_size:]
X_test = X_test[:-validation_size]
y_test = y_test[:-validation_size]

141/141 - 1s - loss: 0.5783 - accuracy: 0.7287 - 976ms/epoch - 7ms/step
score: 0.58
acc: 0.73

In [ ]:
# evaluating on validation data
score,acc = model.evaluate(X_validate, y_validate, verbose = 2, batch_size = batch_size)
print("score: %.2f" % (score))
print("acc: %.2f" % (acc))

47/47 - 0s - loss: 0.6076 - accuracy: 0.7220 - 325ms/epoch - 7ms/step
score: 0.61
acc: 0.72